.header-app-name {
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;	
	font-weight: 900;
}

.fill-height {
    flex-grow: 1;
    width: 100%;
}

/* .custom-dropdown {
    color: #000;
    background-color: #dae0e5!important
} */

#app-main {
    height: 100vh;
}